[Unit]
Desciption=Perimeter patrol startup
ConditionPathExists=/usr/local/bin/pcar_start
After=rc.service

[Service]
Type=forking
User=debian
ExecStart=/usr/local/bin/pcar_start
ExecStop=/usr/local/bin/pcar_stop
#Restart=on-failure
#RestartSec=5s

[Install]
WantedBy=multi-user.target
